<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @admin_product_image.product_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @admin_product_image.image %>
</p>

<%= link_to 'Edit', edit_admin_product_image_path(@admin_product_image) %> |
<%= link_to 'Back', admin_product_images_path %>
