<%= form_with(model: [:admin, @admin_order], local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <% product_options = options_for_select(active_products.map { |p| [p.title, p.id] }, @admin_order.product_ids) %>
    <%= f.select(:order_products, product_options,
      {prompt: false}, 
      {multiple: true, name: "order_products[ids][]"}) %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="field">
    <%= f.label :payment_status, "Mark as Pending" %>
    <%= f.radio_button(:payment_status, "pending") %>
    <%= f.label :payment_status, "Mark as Paid" %>
    <%= f.radio_button(:payment_status, "paid") %>
  </div>

  <div class="actions">
    <%= f.submit "Create Order" %>
  </div>
<% end %>