<%= render 'components/header', 
  header_body: 'Orders'
%>

<div class="px-3 xl:px-3 w-full mx-auto lg:ml-0 lg:mr-auto xl:mx-0">
  <div class="bg-white shadow rounded-lg flex flex-col p-8 mb-5">
    <table class="w-full text-left table-collapse">
      <thead>
        <tr>
          <th class="p-2 border-b border-gray-300 font-medium text-purple-600">Order</th>
          <th class="p-2 border-b border-gray-300 font-medium text-purple-600">Date</th>
          <th class="p-2 border-b border-gray-300 font-medium text-purple-600">Payment Status</th>
          <th class="p-2 border-b border-gray-300 font-medium text-purple-600">Fulfillment Status</th>
          <th class="p-2 border-b border-gray-300 font-medium text-purple-600">Total</th>
        </tr>
      </thead>
      <tbody class="align-middle">
        <% @admin_orders.each do |admin_order| %>
          <tr class="h-12">
            <td class="p-2 border-t border-gray-300">
              <span class="text-gray-600 hover:text-gray-900">
                #<%= link_to admin_order.id, admin_order_path(admin_order) %>
              </span>
            </td>
            <td class="p-2 border-t border-gray-300"><%= admin_order.created_at.strftime("%B %d, %Y %k:%M") %> UTC</td>
            <td class="p-2 border-t border-gray-300">
              <%= render 'components/pill', 
                text: admin_order.payment_status.capitalize,
                status: admin_order.payment_status
              %>
            </td>
            <td class="p-2 border-t border-gray-300">
              <%= render 'components/pill', 
                text: admin_order.fulfillment_status.capitalize,
                status: admin_order.fulfillment_status
              %>
            </td>
            <td class="p-2 border-t border-gray-300">
              <span class="inline-block w-20 text-center py-2 leading-none text-sm font-semibold text-green-700 bg-green-200 rounded-full">
                $<%= number_with_precision(admin_order.total, precision: 2) %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
