<%= render 'components/header' do %> 
  <h1 class="text-3xl">#<%= @admin_order.id %></h1>
  <span class="p-2 self-end text-gray-600 tracking-wide font-semibold text-sm">
    <%= @admin_order.created_at.strftime("%B %d, %Y %k:%M") %> UTC
  </span>
<% end %>

<div class="flex px-6 pb-2" style="margin-top: -0.5rem;">
  <%= render 'components/pill', 
    text: "Payment #{@admin_order.payment_status.capitalize}",
    status: @admin_order.payment_status
  %>
  <%= render 'components/pill', 
    text: @admin_order.fulfillment_status.capitalize,
    status: @admin_order.fulfillment_status
  %>
</div>

<div class="px-3 xl:px-3 w-full max-w-3xl mx-auto lg:ml-0 lg:mr-auto xl:mx-0 xl:w-4/6">
  <div class="bg-white shadow rounded-lg flex flex-col p-8 mb-5">
    <% @admin_order.order_products.each do |op| %>
      <div class="flex items-center pb-2">
        <div class="w-1/4 font-medium">
          <%=  @images_by_product_id[op.product_id].nil? ? '' : image_tag(@images_by_product_id[op.product_id], class: "block h-12 w-12 object-contain border border-gray-300") %>
        </div>
        <div class="w-1/2 font-medium"><%= op.title %></div>
        <div class="flex justify-between w-1/4 text-right">
          <span class="w-1/3 text-gray-600">$<%= number_with_precision(op.price, precision: 2) %></span>
          <span class="w-1/3 text-gray-600 font-semibold">x</span>
          <span class="w-1/3 text-gray-600"><%= op.quantity %></span>
        </div>
        <div class="w-1/5 text-right font-medium">$<%= number_with_precision(op.total, precision: 2) %></div>
      </div>
    <% end %>
    <div class="w-full border-b border-gray-200 mb-3"></div>
    <div class="w-1/2 self-end bg-gray-200 rounded-lg flex justify-between p-4">
      <span class="font-medium text-gray-600">Total</span>
      <%= render 'components/pill', 
        text: "$#{number_with_precision(@admin_order.total, precision: 2)}",
        status: 'success'
      %>
    </div>
  </div>
 </div>