<div class="product-show-container">
  <div
    class="carousel"
    x-data="{
      activeImageIndex: 0,
      images: <%= @product_image_urls %>
    }"
  >
    <div class="h-64 md:flex-1 flex justify-center items-center overflow-hidden bg-white rounded shadow-sm object-contain border border-gray-200 mb-2">
      <template x-for="(carouselImage, index) in images" :key="index">
        <img
          class="object-contain h-full md:h-auto"

          :src="carouselImage"
          x-show.transition.opacity="activeImageIndex === index"
          :x-ref="`carouselImage-${index}`"
          x-on:turbolinks:before-cache.window="$refs[`carouselImage-${index}`].remove()"
        />
      </template>
    </div>
    <div class="flex flex-wrap md:h-32">
      <template x-for="(thumbnail, index) in images" :key="index">
        <img
          class="h-12 mx-1 bg-white rounded object-contain cursor-pointer border"

          :src="thumbnail"
          :class="{
            'border-gray-600': activeImageIndex === index,
            'border-gray-200': activeImageIndex !== index,
          }"
          x-on:click="activeImageIndex = index"
          :x-ref="`thumbnail-${index}`"
          x-on:turbolinks:before-cache.window="$refs[`thumbnail-${index}`].remove()"
        />
      </template>
    </div>
  </div>

  <div class="details">
    <div class="p-6 rounded-lg shadow-lg overflow-hidden">
      <div class="title"><%= @product.title %></div>
      <div class="priceContainer">
        <span class="price"><%= format_price(@product.price) %></span>
      </div>
      <div class="description"><%= @product.description %></div>
      <%# ADD TO CART Button %>
      <%= button_to(
          "ADD TO CART",
          add_cart_path(product_id: @product.id),
          remote: true,
          class: "cursor-pointer mt-auto w-full justify-center inline-flex items-center px-6 py-3 border border-transparent text-base tracking-wider leading-6 font-semibold rounded text-white bg-gray-900 hover:bg-gray-600 focus:outline-none focus:border-gray-700 active:bg-gray-700 transition ease-in-out duration-150",
          form: {
            'x-data': '{}',
            'x-on:ajax:success': "
              const data = event.detail;
              $dispatch(
                'add-product',
                {
                  product: { [data[0].product_id]: data[0] },
                  final_price: data[0].final_price,
                  total_cart_count: data[0].total_cart_count,
                }
              )
            "
          }
        ) %>
    </div>
  </div>
</div>
