<%= render 'components/header', 
  header_body: 'Collections',
  link_body: 'Add Collection',
  link_url: new_admin_collection_path
%>

<div class="px-3 xl:px-3 w-full mx-auto lg:ml-0 lg:mr-auto xl:mx-0">
  <div class="bg-white shadow rounded-lg flex flex-col p-8 mb-5">
    <%= render 'components/pagy', pagy: @pagy %>
    <table class="w-full text-left table-collapse">
      <thead>
        <tr>
          <th class="p-2 border-b border-gray-300 font-medium text-purple-600"></th>
          <th class="p-2 border-b border-gray-300 font-medium text-purple-600">Title</th>
          <th class="p-2 border-b border-gray-300 font-medium text-purple-600">Product Tags</th>
          <th class="p-2 border-b border-gray-300 font-medium text-purple-600"></th>
        </tr>
      </thead>
      <tbody class="align-middle">
        <% @admin_collections.each do |admin_collection| %>
          <tr class="h-12">
            <td class="p-2 border-t border-gray-300">
              <%= admin_collection.image.attached? ? 
                image_tag(admin_collection.image, class: "block h-12 w-12 object-contain border border-gray-300") : '' %>
            </td>
            <td class="p-2 border-t border-gray-300">
              <span class="text-gray-600 hover:text-gray-900">
                <%= link_to admin_collection.title, edit_admin_collection_path(admin_collection) %>
              </span>
            </td>
            <td class="p-2 border-t border-gray-300">
              <% @tags_by_collection_id[admin_collection.id].each do |tag| %>
                <%= render 'components/pill', 
                  text: tag.name,
                  status: ''
                %>
              <% end %>
            </td>
            <td class="p-2 border-t border-gray-300 w-1">
              <%= link_to 'Delete', 
                [:admin, admin_collection], 
                class: 'text-sm text-red-500 hover:text-red-700',
                method: :delete, 
                data: { confirm: "Are you sure you want to delete '#{admin_collection.title}'?" } 
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>