<%= form_with(
    model: [:admin, admin_product], 
    local: true, 
    html: { multipart: true }, 
    class: "w-full flex flex-wrap flex-auto"
  ) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="px-3 xl:px-3 w-full max-w-3xl mx-auto lg:ml-0 lg:mr-auto xl:mx-0 xl:w-4/6">

    <div class="bg-white shadow rounded-lg flex flex-col p-8 mb-5">
      <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/6">
          <%= f.label :title, class: "block text-purple-500 font-normal md:text-right mb-1 md:mb-0 pr-4" %>
        </div>
        <div class="md:w-5/6">
          <%= f.text_field :title, class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
        </div>
      </div>

      <div class="md:flex mb-6">
        <div class="md:w-1/6">
          <%= f.label :description, class: "block text-purple-500 font-normal md:text-right mb-1 md:mb-0 pr-4" %>
        </div>
        <div class="md:w-5/6">
          <%= f.text_area :description, class: "h-40 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
        </div>
      </div>
    </div>

    <% if admin_product.images.attached? %>
      <div id="gallery" class="bg-white shadow rounded-lg flex flex-wrap p-8 mb-5">
        <% @admin_product.images.each do |img| %>
          <div class="image relative m-1 border border-gray-300 rounded-lg overflow-hidden">
            <%= link_to(
              delete_image_attachment_admin_product_path(img.signed_id),
              remote: true, 
              class:"removeImage invisible absolute w-full h-full flex items-center justify-center", 
              method: :delete,
              data: { confirm: 'Are you sure?' }
            ) do %>
              <span class="z-10 font-semibold text-red-500">Remove</span>
              <div class="absolute opacity-75 bg-white w-full h-full"></div>
            <% end %>
            <%= image_tag(img, size: "160") %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="bg-white shadow rounded-lg flex flex-col p-8 mb-5">
      <div id="imagePreviewContainer" class="hidden flex flex-wrap bg-gray-200 border-2 border-gray-200 rounded w-full py-2 px-4 mb-5" style="min-height: 12rem;"></div>
      <div class="md:flex md:items-center mb-6">
        <div class="w-full">
          <label class="flex flex-col items-center cursor-pointer bg-white hover:bg-gray-100 text-gray-600 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
            <span class="text-sm">Add Images</span>
            <%= f.file_field :images, 
              multiple: true,
              accept: 'image/jpeg,image/gif,image/png',
              class: "hidden" 
            %>
          </label>
        </div>
      </div>
    </div>

  </div>
  <div class="px-3 xl:px-3 w-full max-w-3xl mx-auto lg:ml-0 lg:mr-auto xl:mx-0 xl:w-2/6">

    <div class="bg-white shadow rounded-lg flex flex-col p-8 mb-5">
      <div class="mb-1">
        <div>
          <%= f.label :price, class: "block text-purple-500 font-normal mb-1 md:mb-0 pr-4" %>
        </div>
        <div>
          <%= f.number_field :price, step: :any, class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
        </div>
      </div>

      <div class="mb-1">
        <div>
          <%= f.label :compare_at_price, class: "block text-purple-500 font-normal mb-1 md:mb-0 pr-4" %>
        </div>
        <div>
          <%= f.number_field :compare_at_price, step: :any, class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
        </div>
      </div>

      <div class="mb-1">
        <div>
          <%= f.label :cost_per_item, class: "block text-purple-500 font-normal mb-1 md:mb-0 pr-4" %>
        </div>
        <div>
          <%= f.number_field :cost_per_item, step: :any, class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
        </div>
      </div>
    </div>

    <div class="bg-white shadow rounded-lg flex flex-col p-8 mb-5">
      <div class="mb-1">
        <div>
          <%= f.label :quantity, class: "block text-purple-500 font-normal mb-1 md:mb-0 pr-4" %>
        </div>
        <div>
          <%= f.number_field :quantity, class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
        </div>
      </div>

      <div class="mb-1">
        <%= f.label :allow_out_of_stock_purchase, class: "block text-gray-600 font-normal" do %>
          <%= f.check_box :allow_out_of_stock_purchase, class: "mr-2 leading-tight" %>
          <span class="text-sm">Enable Out of Stock Purchase?</span>
        <% end %>
      </div>
    </div>

  </div>

  <div class="md:flex md:items-center px-3 xl:px-3 w-full max-w-3xl mx-auto lg:ml-0 lg:mr-auto xl:mx-0 xl:w-4/6">
    <div class="md:w-1/6"></div>
    <div class="md:w-5/6 text-right">
      <%= f.button "Save Product", class: "shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-medium py-2 px-4 rounded" %>
    </div>
  </div> 
<% end %>

<script>
function setupReader(file) {
  var name = file.name;
  var reader = new FileReader();  
  reader.onload = function(e) {
    let img   = document.createElement('img');
    img.src   = e.target.result;
    img.width = '160';

    let div       = document.createElement('div');
    div.className = 'p-2';
    div.appendChild(img);

    let imagePreviewContainer = document.getElementById('imagePreviewContainer');
    imagePreviewContainer.appendChild(div);
  }

  reader.readAsDataURL(file);
}

document.getElementById('product_images').onchange = function () {
  let imagePreviewContainer = document.getElementById('imagePreviewContainer');
  imagePreviewContainer.innerHTML = '';
  imagePreviewContainer.classList.remove('hidden');
  for (var i = 0; i < this.files.length; i++) {
    setupReader(this.files[i]);
  }
};


document.body.addEventListener('ajax:success', function(event) {
  event.target.parentNode.remove();
});
</script>