<%= form_with(model: [:admin, @admin_product], local: true, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
  <%= f.label :description %>
    <%= f.text_area :description, placeholder: "..." %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.text_field :type %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price, step: :any %>
  </div>

  <div class="field">
    <%= f.label :compare_at_price %>
    <%= f.number_field :compare_at_price, step: :any %>
  </div>

  <div class="field">
    <%= f.label :cost_per_item %>
    <%= f.number_field :cost_per_item, step: :any %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <%= f.label :enable_out_of_stock_purchase do %>
      <%= f.check_box :enable_out_of_stock_purchase %>
      <span>Enable Out of Stock Purchase?</span>
  <% end %>

  <%= f.fields_for :product_images do |p| %>
    <div class="field">
      <%= p.label :image %><br>
      <%= p.file_field :image, 
        multiple: true, 
        name: "product_images[image][]", 
        accept: 'image/jpeg,image/gif,image/png' 
      %>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit "Add Product" %>
  </div>
<% end %>