<%= render 'components/header', 
  header_body: 'Products',
  link_body: 'Add Product',
  link_url: new_admin_product_path
%>

<div class="px-3 xl:px-3 w-full mx-auto lg:ml-0 lg:mr-auto xl:mx-0">
  <div class="bg-white shadow rounded-lg flex flex-col p-8 mb-5">
    <%= render 'components/pagy', pagy: @pagy %>
    <table class="w-full text-left table-collapse">
      <thead>
        <tr>
          <th class="p-2 border-b border-gray-300 font-medium text-purple-600"></th>
          <th class="p-2 border-b border-gray-300 font-medium text-purple-600">Product</th>
          <th class="p-2 border-b border-gray-300 font-medium text-purple-600">Inventory</th>
          <th class="p-2 border-b border-gray-300 font-medium text-purple-600">Price</th>
          <th class="p-2 border-b border-gray-300 font-medium text-purple-600"></th>
        </tr>
      </thead>
      <tbody class="align-middle">
        <% @admin_products.each do |admin_product| %>
          <tr class="h-12">
            <td class="p-2 border-t border-gray-300">
              <%= admin_product.images.attached? ? 
                image_tag(admin_product.images.first, class: "block h-12 w-12 object-contain border border-gray-300") : '' %>
            </td>
            <td class="p-2 border-t border-gray-300">
              <span class="text-gray-600 hover:text-gray-900">
                <%= link_to admin_product.title, edit_admin_product_path(admin_product) %>
              </span>
            </td>
            <td class="p-2 border-t border-gray-300">
              <span class="inline-block w-10 text-center py-2 leading-none text-xs font-semibold text-gray-700 bg-gray-200 rounded-full">
                <%= admin_product.quantity %> 
              </span>
              <span class="text-sm text-gray-600">in stock</span>
            </td>
            <td class="p-2 border-t border-gray-300">
              <%= render 'components/pill', 
                text: "$#{number_with_precision(admin_product.price, precision: 2)}",
                status: 'success'
              %>
            </td>
            <td class="p-2 border-t border-gray-300 w-1">
              <%= link_to 'Delete', 
                [:admin, admin_product], 
                class: 'text-sm text-red-500 hover:text-red-700',
                method: :delete, 
                data: { confirm: "Are you sure you want to delete '#{admin_product.title}'?" } 
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
