<%= form_with(model: @admin_user, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.fields_for :stores do  |s| %>
    <div class="field">
      <%= s.label :subdomain, "Store Subdomain" %>
      <%= s.text_field :subdomain %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign Up" %>
  </div>
<% end %>
