<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application','https://fonts.googleapis.com/css?family=Playfair+Display:700,900|Rubik:700&display=swap', media: 'all', 'data-turbolinks-track': true %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/879695e7d5.js" crossorigin="anonymous"></script>
  </head>

  <body class="h-screen overflow-hidden flex items-center justify-center font-sans text-gray-800 bg-gray-100">    
    <div class="h-screen flex flex-wrap w-full">
      <%= render "layouts/horizontal_navbar" %>
      <%= render "layouts/vertical_navbar" %>
      <!-- Main Content Container -->
      <div class="flex-4 flex flex-col overflow-hidden h-full">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
