<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application','https://fonts.googleapis.com/css?family=Playfair+Display:700,900|Rubik:500&display=swap', media: 'all', 'data-turbolinks-track': true %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-screen leading-normal overflow-hidden flex items-center justify-center font-sans text-gray-800 bg-white">    
    <div class="h-screen flex flex-wrap w-full">
      <%= render "components/navigation/horizontal_navbar" %>
      <%= render "components/navigation/vertical_navbar" %>
      <!-- Main Content Container -->
      <div class="flex-4 flex flex-col overflow-y-auto scrolling-touch h-full pt-6 pb-24 bg-gray-200">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
