<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application','https://rsms.me/inter/inter.css', media: 'all', 'data-turbolinks-track': true %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'store/application', 'data-turbolinks-track': 'reload' %>

    <%# Future Theme style import will look like this below: %>
    <%# stylesheet_pack_tag '#{@theme}/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body <%= yield(:body_attributes) %>>
    <div class="min-h-screen bg-gray-50">
      <%= render "components/#{@theme_path}/navigation/navbar" %>
      <%= yield %>
      
      <%# Cart, Mask, and Cart Counter Snack %>
      <%= render "components/#{@theme_path}/cart/cart" %>
      <%= render "components/#{@theme_path}/cart/counter_snack" %>

      <%= render "components/#{@theme_path}/navigation/footer" %>
    </div>
  </body>
</html>
