<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application','https://rsms.me/inter/inter.css', media: 'all', 'data-turbolinks-track': true %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'store/application', 'data-turbolinks-track': 'reload' %>

    <%# Future Theme style import will look like this below: %>
    <%# stylesheet_pack_tag '#{@theme}/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body <%= yield(:body_attributes) %>>
    <div class="min-h-screen bg-gray-50">
      <%= render "components/#{@theme_path}/navigation/navbar" %>
      <%= yield %>

      <%# Cart (eventually will be a component) %>
      <div
        id="cart"
        data-turbolinks-permanent
        class="z-20 bg-white fixed inset-y-0 right-0 w-full md:w-1/3 flex flex-col p-8 shadow-2xl"

        x-data="{
          open: false,
          cart: <%= cart_json %>
        }"

        x-show="open"
        x-transition:enter="transform ease-out duration-500 transition"
        x-transition:enter-start="translate-x-64" 
        x-transition:enter-end="translate-x-0" 
        x-transition:leave="transition ease-in duration-100"
        x-transition:leave-start="translate-x-0 opacity-100" 
        x-transition:leave-end="translate-x-64 opacity-0"

        @open-cart.window="open = true"
        @click.away="open = false"
        x-init="$watch('open', value => !value && $dispatch('close-cart'))"

        @update-cart.window="cart = $event.detail"
      >
        <div class="relative flex justify-center items-center pb-1 border-b-2 border-gray-900">
          <div class="absolute left-0 flex">
              <button
                class="inline-flex rounded-md text-gray-900 hover:translate-x-2 focus:outline-none transform transition ease-in-out duration-150"
                @click="open = false"
              >
                <svg class="h-full w-8" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24">
                  <path d="M14 5l7 7m0 0l-7 7m7-7H3" />
                </svg>
              </button>
          </div>
          <h3 class="text-2xl font-bold leading-tight">Cart</h3>
        </div>

        <div class="product-list divide-y divide-gray-400">
          <template x-for="(product, index) in Object.values(cart.products)" :key="index">
            <div class="relative flex w-full py-3">
              <img class="h-24 w-24 mr-2 bg-white rounded object-contain border" :src="product.image" />
              <div class="flex-1 min-w-0 flex flex-row flex-wrap items-start">

                <div class="w-full min-w-0 flex flex-row justify-between">
                  <h1 class="font-semibold truncate" x-text="product.title"></h1>

                  <%= button_to(
                      '#',
                      remote: true,
                      class: "text-lg text-gray-400 hover:text-black cursor-pointer focus:outline-none",
                      form: {
                        ':action': "'#{remove_product_cart_path}?product_id=' + product.id",
                        'x-on:ajax:success': "
                          const data = event.detail;
                          $dispatch('update-cart', data[0]);
                        "
                      }
                    ) do %>
                      <svg class="w-5"  fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                        <path d="M6 18L18 6M6 6l12 12"></path>
                      </svg>
                    <% end %>
                </div>

                <div class="w-full self-end flex flex-row justify-between">
                  <div class="w-20 px-2 flex flex-row justify-between items-center rounded-sm border border-gray-400">
                    <%= button_to(
                      "-",
                      '#',
                      remote: true,
                      class: "text-lg text-gray-400 hover:text-black cursor-pointer focus:outline-none",
                      form: {
                        ':action': "'#{remove_cart_path}?product_id=' + product.id",
                        'x-on:ajax:success': "
                          const data = event.detail;
                          $dispatch('update-cart', data[0]);
                        "
                      }
                    ) %>
                    <span class="text-sm font-bold select-none" x-text="product.quantity"></span>
                    <%= button_to(
                      "+",
                      '#',
                      remote: true,
                      class: "text-lg text-gray-400 hover:text-black cursor-pointer focus:outline-none",
                      form: {
                        ':action': "'#{add_cart_path}?product_id=' + product.id",
                        'x-on:ajax:success': "
                          const data = event.detail;
                          $dispatch('update-cart', data[0]);
                        "
                      }
                    ) %>
                  </div>
                  <span class="text-sm font-light" x-text="product.price"></span>
                </div>

              </div>
            </div>
          </template>
        </div>

        <div class="flex flex-col py-4 border-t border-gray-400">
          <div class="flex flex-row justify-between w-full pb-2">
            <span class="text-sm font-semibold">Subtotal</span>
            <span class="text-sm font-light" x-text="cart.final_price"></span>
          </div>
          <div class="flex flex-row justify-between w-full pb-2">
            <span class="text-sm font-semibold">Shipping</span>
            <span class="text-sm font-light">PICK UP</span>
          </div>
          <button class="w-full cursor-pointer mt-4 justify-center inline-flex items-center px-6 py-3 border border-transparent text-base tracking-wider leading-6 font-semibold rounded text-white bg-gray-900 hover:bg-gray-600 focus:outline-none focus:border-gray-700 active:bg-gray-700 transition ease-in-out duration-150">
            CHECKOUT
          </button>
        </div>
      </div>

      <%# Mask %>
      <div
        class="z-10 bg-gray-900-75 fixed inset-0"
        x-data="{ show: false }"

        x-show="show"
        x-transition:enter="transform ease-out duration-300 transition"
        x-transition:enter-start="opacity-0" 
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in duration-100"
        x-transition:leave-start="opacity-100" 
        x-transition:leave-end="opacity-0"

        @open-cart.window="show = true"
        @close-cart.window="show = false"
      ></div>

      <%# Added to Cart Alert Bar, will eventually be a component %>
      <div
        id="cart-banner"
        data-turbolinks-permanent 
        class="fixed right-0 bottom-0 pb-2 sm:pb-5"

        x-data="{ count: <%= cart.count %> }"

        x-show="count > 0"
        x-transition:enter="transform ease-out duration-300 transition"
        x-transition:enter-start="translate-y-6 opacity-0" 
        x-transition:enter-end="translate-y-0 opacity-100" 
        x-transition:leave="transition ease-in duration-100"
        x-transition:leave-start="opacity-100" 
        x-transition:leave-end="opacity-0"
        
        @update-cart.window="
          const data = $event.detail;
          count = data.total_cart_count;
        "
      >
        <div class="max-w-screen-xl mx-auto px-2 sm:px-6 lg:px-8">
          <div class="p-2 rounded-lg bg-indigo-600 shadow-lg sm:p-3">
            <div class="flex items-center justify-between flex-wrap">
              <div class="flex-1 flex items-center">
                <span class="flex p-2 rounded-lg bg-indigo-800">
                  <svg class="h-6 w-6 text-white" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>
                </span>
                <p class="mx-3 font-medium text-white truncate">
                  <span>
                    You have 
                    <span x-text="count"></span>
                    <span x-text="count > 1 ? ' items ' : ' item '"></span>
                    ready for checkout
                  </span>
                </p>
              </div>
              <div class="order-2 mt-2 flex-shrink-0 w-full sm:mt-0 sm:w-auto">
                <div class="rounded-md shadow-sm">
                  <button @click="$dispatch('open-cart')" class="w-full flex items-center justify-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition ease-in-out duration-150">
                    View Cart
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= render "components/#{@theme_path}/navigation/footer" %>
    </div>
  </body>
</html>
