<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application','https://fonts.googleapis.com/css?family=Playfair+Display:700,900|Rubik:700&display=swap', media: 'all', 'data-turbolinks-track': true %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'store/application', 'data-turbolinks-track': 'reload' %>

    <%# Future Theme style import will look like this below: %>
    <%# stylesheet_pack_tag '#{@theme}/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body <%= yield(:body_attributes) %>>
    <div class="min-h-screen bg-gray-50">
      <%= render "components/#{@theme_path}/navigation/navbar" %>
      <%= yield %>

      <%# Cart (eventually will be a component) %>
      <div class="bg-gray-50 fixed inset-y-0 right-0 w-full md:w-2/5 flex  flex-col">
        <%= cart_json %>
      </div>

      <%= render "components/#{@theme_path}/navigation/footer" %>
    </div>
  </body>
</html>
